
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#category-select {
    width: 100%;
    max-width: 300px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Responsive design using media queries */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .card {
        margin: 10px 0;
    }
}
.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  .card {
    flex: 1 0 auto;
    
  }